<%- layout("layout.ejs") %>
<script type="text/javascript">
    $(document).ready(function () {
        $(".tile").height($("#tile0").width());
        $(".carousel").height($("#tile0").width());
        $(".item").height($("#tile0").width());
        $(window).resize(function () {
            if (this.resizeTO) clearTimeout(this.resizeTO);
            this.resizeTO = setTimeout(function () {
                $(this).trigger('resizeEnd');
            }, 10);
        });

        $(window).bind('resizeEnd', function () {
            $(".tile").height($("#tile0").width());
            $(".carousel").height($("#tile0").width());
            $(".item").height($("#tile0").width());
        });

        $(".chartile").click(function () {
            window.location = "/character/show/" + $(this).data("charid");
        });
        $(".concepttile").click(function () {
            window.location = "/character/concept/";
        });
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="col-md-1 hidden-sm hidden-xs">
                <h2><img class="img-circle" src="img/Masks.png"></h2>
            </div>
            <div class="col-md-3 col-sm-12 col-sm-push-0 col-md-push-8">
                <div class="text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Admin</h3>
                        </div>
                        <div class="panel-body">
                            <a class="btn btn-md btn-block btn-primary" href="/chronicle/">Chronicles</a>
                            <% if(user.isAdmin) { %>
                            <a class="btn btn-md btn-block btn-primary" href="/character/">Characters</a>
                            <a class="btn btn-md btn-block btn-primary" href="/character/approve/">Approval
                                <% if(approvals > 0) { %>
                                <div class="badge pull-right"><%= approvals %></div>
                                <% } %>
                            </a>
                            <% } %>
                            <% if(user.isSuperAdmin) { %>
                            <a class="btn btn-md btn-block btn-primary" href="/user/">Users</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-sm-pull-0 col-md-pull-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>My characters</h3>
                    </div>
                    <div class="panel-body dynamicTile">
                        <div class="row">
                            <% for(var i = 0; i < characters.length; i++) { %>
                            <div class="col-xs-6 col-lg-3 col-sm-4">
                                <div id="tile<%= i %>"
                                     class="tile chartile panel panel-default panel-body clickable noleftrightpadding"
                                     data-charid="<%= characters[i].id %>">

                                    <div class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <% if(["Concept",, "Draft", "Approval pending", "Approved", "Background Approved", "Background Submitted", "Final Approval Pending"].indexOf(characters[i].state) > -1 ){ %>
                                            <div class="item active">
                                                <div class="row">
                                                    <div class="text-center label-info">
                                                        <span class="glyphicon glyphicon-pawn"></span>
                                                    </div>
                                                </div>
                                                <div class="row voffset1">
                                                    <div class="text-center col-lg-12">
                                                        <%= characters[i].name %>
                                                        <span class="label label-info"><%= characters[i].state %></span>
                                                    </div>
                                                </div>
                                                <div class="row voffset1">
                                                    <div class="text-center col-lg-12"><%= characters[i].chronicle.name %></div>
                                                </div>
                                                <div class="row">
                                                    <div class="text-center col-lg-12"><%= characters[i].clan %></div>
                                                </div>
                                            </div>
                                            <% } %>
                                            <% if(["Rejected", "Background Rejected", "Retired", "Deceased"].indexOf(characters[i].state) > -1 ){ %>
                                            <div class="item active">
                                                <div class="row">
                                                    <div class="text-center label-danger">
                                                        <span class="glyphicon glyphicon-pawn"></span>
                                                    </div>
                                                </div>
                                                <div class="row voffset1">
                                                    <div class="text-center col-lg-12">
                                                        <%= characters[i].name %>
                                                        <span class="label label-danger"><%= characters[i].state %></span>
                                                    </div>
                                                </div>
                                                <div class="row voffset1">
                                                    <div class="text-center col-lg-12"><%= characters[i].chronicle.name %></div>
                                                </div>
                                                <div class="row">
                                                    <div class="text-center col-lg-12"><%= characters[i].clan %></div>
                                                </div>
                                            </div>
                                            <% } %>
                                            <% if(characters[i].state === 'Active'){ %>
                                            <div class="item active">
                                                <div class="row">
                                                    <div class="text-center label-default">
                                                        <span class="glyphicon glyphicon-pawn"></span>
                                                    </div>
                                                </div>
                                                <div class="row voffset1">
                                                    <div class="text-center col-lg-12"><%= characters[i].name %></div>
                                                </div>
                                                <div class="row voffset1">
                                                    <div class="text-center col-lg-12"><%= characters[i].chronicle.name %></div>
                                                </div>
                                                <div class="row">
                                                    <div class="text-center col-lg-12"><%= characters[i].clan %></div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="text-center label-default">
                                                        <span class="glyphicon glyphicon-king"></span>
                                                    </div>
                                                </div>
                                                <div class="row voffset1">
                                                    <div class="text-center col-lg-12"><%= characters[i].name %></div>
                                                </div>
                                                <div class="row voffset1">
                                                    <div class="text-center col-lg-12"><%= characters[i].sect %></div>
                                                </div>
                                                <div class="row">
                                                    <div class="text-center">
                                                        <% if(characters[i].title.length > 0){ %>
                                                        <div class="text-center col-lg-12"><%= characters[i].title %></div>
                                                        <% } else { %>
                                                        <div class="text-center col-lg-12">No title</div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="text-center">
                                                        <%= characters[i].status.length %> Status
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="text-center label-default">
                                                        <span class="glyphicon glyphicon-knight"></span>
                                                    </div>
                                                </div>
                                                <div class="row voffset1">
                                                    <div class="text-center col-lg-12"><%= characters[i].name %></div>
                                                </div>
                                                <div class="row">
                                                    <div class="text-center col-lg-12"><%= characters[i].attributes.tphysical %>
                                                        physical
                                                    </div>
                                                </div>
                                                <div class="row voffset1">
                                                    <div class="text-center col-lg-12"><%= characters[i].attributes.tsocial %>
                                                        social
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="text-center col-lg-12"><%= characters[i].attributes.tmental %>
                                                        mental
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="text-center label-default">
                                                        <span class="glyphicon glyphicon-bishop"></span>
                                                    </div>
                                                </div>
                                                <div class="row voffset1">
                                                    <div class="text-center col-lg-12"><%= characters[i].name %></div>
                                                </div>
                                                <div class="row">
                                                    <div class="text-center col-lg-12"><%= characters[i].abilities.length %>
                                                        abilities
                                                    </div>
                                                </div>
                                                <div class="row voffset1">
                                                    <div class="text-center col-lg-12"><%= characters[i].disciplines.length %>
                                                        disciplines
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="text-center col-lg-12"><%= characters[i].rituals.length %>
                                                        rituals
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>

                            <div class="col-xs-6 col-lg-3 col-sm-4">
                                <div id="tile<%= characters.length %>"
                                     class="tile concepttile panel panel-default panel-body clickable">
                                    <div class="item active">
                                        <div class="row">
                                            <div class="text-center label-primary">
                                                <span class="glyphicon glyphicon-file"></span>
                                            </div>
                                        </div>
                                        <div class="row voffset3">
                                            <div class="text-center col-lg-12">
                                                New Concept
                                            </div>
                                        </div>
                                        <div class="row voffset3">
                                            <div class="text-center ">
                                                <div class="btn btn-circle btn-lg btn-default">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>